$baseColor: #1e252b;
$shiftColor: #ffffffe5;
$btnColor: #ff6e30;
$Darkgray: #837a93;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   .parent {
      background-color: $baseColor;
      .nav {
         width: 100%;
         height: 60px;
         display: flex;
         justify-content: center;
         align-items: center;
         padding-top: 30px;
         gap: 120px;
         .nav__logoTitle {
            display: flex;
            align-items: center;
            .nav__logoTitle_title {
               font-size: 22px;
               margin-left: 10px;
               color: $shiftColor;
            }
         }
         .nav__menu {
            display: flex;
            gap: 20px;
            .nav__menu_item {
               list-style: none;
               .nav__menu_item_link {
                  text-decoration: none;
                  color: $shiftColor;
                  opacity: 0.5;
                  font-size: 16px;
               }
            }
         }

         .nav__loginSignup {
            .nav__login {
               text-decoration: none;
               color: $shiftColor;
               opacity: 0.5;
               margin-right: 20px;
            }
            .nav__signUp {
               padding-right: 12px;
               padding-left: 12px;
               padding-top: 8px;
               padding-bottom: 8px;
               background-color: $btnColor;
               border: 1px solid $btnColor;
               border-radius: 8px;
               color: $shiftColor;
               text-decoration: none;
               font-size: 16px;
            }
         }
      }

      .main{
         width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 100px;
        .main_right{
        width: auto;
        }
        .main_left{
         width: 589px;
         padding: 0;
        svg{
         padding: 0;
        }
        }
      }
   }
}
